body{
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    
    
}
.Hello {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height:500px;
    margin: 10px;
    width: 50%;


}
img{
    height: 270px;
    width: 96%;
}

.upperSection {

    margin: 50px 10px;
    width: 100%;
    
}

.whatido{
    margin-top:10px;
    font-size: 18px;
    width: 100%;
}




.container{
    background-color: white;
    padding: 2rem;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 1rem; 
    margin-top: 2rem;
    margin-bottom: 2rem; 
    width: 100%; 
    height: 200px;
    max-width: 28rem; 
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 
}
.Password{
    display: flex; 
    overflow: hidden; 
    margin-bottom: 1rem; 
    border-radius: 0.5rem; 
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); 


}
.Inputs{
    display: flex; 
    column-gap: 0.5rem; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    


}
.content{
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 1200px)  {
    .content{
        display: row;
        flex-direction: column;
        justify-content: space-around;
        gap: 50px;
    }
    .Hello{
        width: 100%;
    }
    .container{
        /* width: 100%; */
        margin: auto;
        /* top:50px; */
        
    }
    
}
@media screen and (max-width: 560px) {
    img{
        height: 259px;
        width: 96%;
    }
    
}